extends ../layout/default.pug
block content
	.container
		.alert.alert-secondary
			h4 
				i.fa.fa-image.mr-2.text-light
				span 갤러리 게시판
					small  - 리스트
		ul.wrapper.d-flex.justify-content-between.flex-wrap
			- for(var v of lists) {
				li.list(style="flex: 20% 0 0; padding: 1%;")
					div.border
						img.img(src=`${v.savefile}`)
			- }