extends ../layout/default.pug
block content
	.container
		.alert.alert-secondary
			h4 
				i.fa.fa-image.mr-2.text-light
				span 갤러리 게시판
					small  - 리스트
		ul.grid
			li.grid-sizer
			- for(var v of lists) {
				li.grid-item
					div.border
						img.img(src=`${v.savefile}`)
			- }