link(rel="stylesheet" href="/css/fa.min.css")
link(rel="stylesheet" href="/css/animate.css")
link(rel="stylesheet" href="/css/bootstrap.min.css")
link(rel="stylesheet" href="/css/base.css")
link(rel="stylesheet" href="/css/default.css")
link(rel="stylesheet" href=`/css/${file}.css`)
script(src="/js/jquery-3.4.1.min.js")
script(src="/js/popper.min.js")
script(src="/js/bootstrap.min.js")
script(src="/js/imagesloaded.pkgd.min.js")
script(src="/js/wow.min.js")