.pager-wrap
	a.bt-first.fa.fa-angle-double-left.disable(href="#")
	a.bt-prev.fa.fa-angle-left.disable(href="#")
	a.active(href="") 1
	a(href="") 2
	a(href="") 3
	a.bt-next.fa.fa-angle-right(href="#")
	a.bt-last.fa.fa-angle-double-right(href="#")
