header.header
	.top-wrap
		.logo
			a(href="/") LOGO
		ul.navi-wrap
			li.navi
				div BOARD
				ul.subs
					li.sub
						a(href="/board/list") List
					li.sub
						a(href="/board/view") View
			li.navi
				div MYPAGE
				ul.subs
					li.sub
						a(href="/mypage/info") Info
					li.sub
						a(href="/mypage/point") Point
			li.navi
				div MEMBER
				ul.subs
					li.sub
						a(href="/member/login") Login
					li.sub
						a(href="/member/logout") Logout
					li.sub
						a(href="/member/join") Join