header.header
	.top-wrap
		.logo
			a(href="/") LOGO
		ul.navi-wrap
			li.navi
				div BOARD
			li.navi
				div MYPAGE
			li.navi
				div MEMBER
		.sub-wrap
			ul.subs
				li.sub
					a(href="/board/list") List
				li.sub
					a(href="/board/view") View
			ul.subs
				li.sub
					a(href="/mypage/info") Info
				li.sub
					a(href="/mypage/point") Point
			ul.subs
				li.sub
					a(href="/member/login") Login
				li.sub
					a(href="/member/logout") Logout
				li.sub
					a(href="/member/join") Join