/* fluid 5 columns */
.grid-sizer,
.grid-item { width: 23%; margin: 1%; border-radius: 10px; overflow: hidden;}

@media screen and (max-width: 992px) {
	.grid-sizer,
	.grid-item { width: 31.3333%;}
}
@media screen and (max-width: 768px) {
	.grid-sizer,
	.grid-item { width: 48%;}
}
@media screen and (max-width: 480px) {
	.grid-sizer,
	.grid-item { width: 98%;}
}